
/* Layout */
fieldset {
  display: inline-block;
}

.basic-info,
.abilities,
.application {
  width: 28%;
  float: left;
}



#levitation-num {
  width: 15%;
}

form {
  margin: 3% 6%;
}

h1 {
  margin-left: 0;
  padding-left: 0;
}

input,
select {
  margin: 5% 3%;
  padding-bottom: 2%;
}

input:focus {
  border-color: red;
}

input:invalid {
  background-color: lightpink;
}

.large-text-box {
  width: 90%;
  height: 15%;
}

/* Buttons */
button {
  background-color: lightblue;
  border-radius: 12%;
  padding: 2%;
  margin-top: 4%;
}

/* Text Decoration */
label {
  font-weight: bold;
}
